table {
    &.list-preroll_campaigns {
        .column-active {
            width: $booleanWidth;
        }
    }

    &.list-visual_campaigns {
        .column-active {
            width: $booleanWidth;
        }
    }

    &.list-users {
        .column-name {
            width: 300px;
        }
        .column-can_login {
            width: $booleanWidth + 20;
        }
        .column-last_login {
            width: 200px;
        }
    }

}
